.hero {
  padding: 3.5rem 0 0 0;
  background-color: var(--bgColor);
}

.hero .heroContainer {
  height: 100vh;
  background: rgb(255, 99, 0);
  background: radial-gradient(
    circle,
    rgba(255, 99, 0, 0.2413340336134454) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  margin: -3.5rem 0 0 0;
  padding: 4rem 0 0 0;
  /* justify-content: space-evenly; */
}

.hero .heroContainer .heroCChild1 h1 {
  color: var(--orange);
  font-weight: 300;
  font-size: 2.6rem;
}

.hero .heroContainer .heroCChild1 h2 {
  color: var(--white);
  font-weight: 300;
  width: 90%;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  border-left: 2px solid var(--orange);
  margin: 0 0 1rem 0.5rem;
  padding: 0 0 0 0.8rem;
  height: 5rem;
}

.hero .heroContainer .heroCChild1 h3 {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.hero .heroContainer .heroCChild2 .scoreBox {
  width: 32.5%;
  height: 10rem;
  border: 1px dotted var(--grey2);
  border-radius: 0.2rem;
}

.hero .heroContainer .heroCChild2 .scoreBox:hover {
  border: 1px dotted var(--white);
  transition: 0.3s;
}

.hero .heroContainer .heroCChild2 .scoreBox p {
  font-size: 2rem;
  color: var(--white);
  margin: 0 0 0.5rem 0;
}

.hero .heroContainer .heroCChild2 .scoreBox h4 {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 300;
}
