.hero {
  margin: 3.5rem 0 0 0;
  background-color: var(--bgColor);
  padding: 4rem 0 0 0;
}

.hero .heroContainer {
  height: 85vh;
  padding: 0 0 6rem 0;
}

.hero .heroContainer .heroCChild1 {
  margin: 0 0 3rem 0;
}

.hero .heroContainer .heroCChild1 h1 {
  color: var(--orange);
  font-weight: 300;
  font-size: 2.6rem;
}

.hero .heroContainer .heroCChild1 h2 {
  color: var(--white);
  font-weight: 300;
  width: 90%;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  border-left: 2px solid var(--orange);
  margin: 0 0 1rem 0.5rem;
  padding: 0 0 0 0.8rem;
  height: 5rem;
}

.hero .heroContainer .heroCChild1 h3 {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.hero .heroContainer .heroCChild2 {
  border: 1px solid var(--orange);
}

.hero .heroContainer .heroCChild2 .scoreBox {
  width: 33.3%;
  height: 8rem;
}

.hero .heroContainer .heroCChild2 .scoreBox:hover {
  background: rgb(255, 99, 0);
  background: radial-gradient(
    circle,
    rgba(255, 99, 0, 0.8240546218487395) -50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero .heroContainer .heroCChild2 .scoreBox1 {
  border-right: 1px solid var(--orange);
}

.hero .heroContainer .heroCChild2 .scoreBox2 {
  border-right: 1px solid var(--orange);
}

.hero .heroContainer .heroCChild2 .scoreBox p {
  font-size: 2rem;
  color: var(--white);
  margin: 0 0 0.5rem 0;
}

.hero .heroContainer .heroCChild2 .scoreBox h4 {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 300;
}
