.immersive .immersiveContainer {
  padding: 4rem 0;
  /* background: rgb(255, 99, 0);
  background: radial-gradient(
    circle,
    rgba(255, 99, 0, 0.2413340336134454) 0%,
    rgba(255, 255, 255, 0) 52%
  ); */
}

.immersive .immersiveContainer h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
}

.immersive .immersiveContainer h2 span {
  font-size: 1.2rem;
}

.immersive .immersiveContainer p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
  font-weight: 300;
  text-align: justify;
}

.immersive .immersiveContainer .immersiveTab .immersiveBox {
  border: 1px dotted var(--bgColor);
  padding: 1rem;
  width: 32.5%;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.2rem;
  background-color: var(--bgColor);
  color: var(--white);
}

.immersive .immersiveContainer .immersiveTab .immersiveBox:hover {
  border: 1px dotted var(--orange);
  background-color: #f5f5f5;
  color: var(--black);
  transition: 0.3s;
}

.immersive .immersiveContainer .immersiveTab .immersiveBox h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.immersive .immersiveContainer .immersiveTab .immersiveBox .immersiveBoxHr {
  border-bottom: 1px solid var(--orange);
  margin: 1rem 0 0.2rem 0;
  width: 15%;
}
.immersive .immersiveContainer .immersiveTab .immersiveBox .immersiveBoxHr2 {
  border-bottom: 1px solid var(--orange);
  margin: 0 0 0.5rem 0;
  width: 10%;
}

.immersive .immersiveContainer .immersiveTab .immersiveBox p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
  /* margin: 0 0 0.5rem 0; */
}

.immersiveIcon {
  color: var(--orange);
  margin: 0 0 -0.25rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .immersive .immersiveContainer h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  .immersive .immersiveContainer p {
    font-size: 1.1rem;
    margin: 0;
  }

  .immersive .immersiveContainer .immersiveTab {
    flex-direction: column;
    margin: 0 0 0.3rem 0;
  }

  .immersive .immersiveContainer .immersiveTab .immersiveBox {
    width: 100%;
    margin: 0 0 1rem 0;
    height: auto;
  }
}
