.serviceSection {
  background-color: var(--bgColor);
}

.serviceSection .serviceSContainer {
  padding: 4rem 0;
  color: var(--white);
  background: rgb(255, 99, 0);
  background: radial-gradient(
    circle,
    rgba(255, 99, 0, 0.2413340336134454) 0%,
    rgba(255, 255, 255, 0) 52%
  );
}

.serviceSection .serviceSContainer h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.serviceSection .serviceSContainer p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
  font-weight: 300;
  text-align: justify;
}

.serviceSection .serviceSContainer .serviceSecTab .serviceSecBox {
  border: 1px dotted var(--orange);
  border-radius: 0.2rem;
  padding: 1rem;
  width: 32.5%;
  height: 22rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.serviceSection .serviceSContainer .serviceSecTab .serviceSecBox h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.serviceSection .serviceSContainer .serviceSecTab .serviceSecBox .orangeDash {
  border-bottom: 1px solid var(--orange);
  margin: 1rem 0 0.5rem 0;
  width: 30%;
}

.serviceSection .serviceSContainer .serviceSecTab .serviceSecBox .orangeDash2 {
  border-bottom: 1px solid var(--orange);
  margin: 0 0 1rem 0;
  width: 20%;
}

.serviceSection .serviceSContainer .serviceSecTab .serviceSecBox p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .serviceSection .serviceSContainer {
    color: var(--white);
    background: rgb(255, 99, 0);
    background: radial-gradient(
      circle,
      rgba(255, 99, 0, 0.2413340336134454) 0%,
      rgba(255, 255, 255, 0) 22%
    );
  }
  .serviceSection .serviceSContainer h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  .serviceSection .serviceSContainer p {
    font-size: 1.1rem;
  }

  .serviceSection .serviceSContainer .serviceSecTab {
    flex-direction: column;
  }

  .serviceSection .serviceSContainer .serviceSecTab .serviceSecBox {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }
}
