.whyChoose {
  padding: 6rem 0;
}

.whyChoose .whyChooseContainer h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox {
  border: 1px dotted var(--grey2);
  padding: 1rem;
  border-radius: 0.2rem;
  height: 12rem;
  width: 49.5%;
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox:hover {
  border: 1px dotted var(--black);
  transition: 0.3s;
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox h4 .whyHeadIcon {
  color: var(--orange);
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox .whyHr {
  margin: 0.1rem 0 0.2rem 0;
  border-bottom: 1px solid var(--orange);
  width: 10%;
}
.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox .whyHr2 {
  margin: 0.1rem 0 0.5rem 0;
  border-bottom: 1px solid var(--orange);
  width: 7%;
}

.whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .whyChoose .whyChooseContainer h2 {
    font-size: 2rem;
  }

  .whyChoose .whyChooseContainer .whyChooseTab {
    flex-direction: column;
    margin: 0 0 0.5rem 0;
  }

  .whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }

  .whyChoose .whyChooseContainer .whyChooseTab .whyChooseBox h4 {
    font-size: 1.3rem;
  }
}
